#banner{
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(assets/bg1.png);  
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  text-align: center;
}

.navbar-toggler-icon{
    color: white;
    background-color: white;
}

#hr{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#story{
    padding: 4rem;
}

@media screen and (max-width: 480px) {
    #story{
        padding: 1rem;
    }

}





header p{
    font-family: 'Roboto', sans-serif;
}

#story p{
    font-family: 'Roboto', sans-serif;
}

#building{
    height: 80vh;
    display: flex;
    align-items: center;
    background-image: url(assets/buildings_overlay.png);  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }

  #quote{
    height: auto;
    display: flex;
    align-items: center;
    background-image: url(assets/quotesbg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }

  #info{
    height: auto;
    display: flex;
    align-items: center;
    background-image: url(assets/footerbg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }

header .logo{
    color: #52c3c0; 
    font-size: 2.2rem; 
    font-family: 'Roboto', sans-serif;
}

#expertise{
    padding: 4rem;
}

@media screen and (max-width: 480px) {
    #expertise{
        padding: 1rem;
    }

}

.lightgray{
    background-color: #B6B6B6;
}

.darkgray{
    background-color: #ADADAC;
}
.darkergray{
    background-color: #A1A0A0;
}
.darkestgray{
    background-color: #8A8B8B;
}


header {
    width: 100%;
  }

header .navbar {
    background-image: linear-gradient(to right, #292843  ,#352c59, #413269);
    background-size: cover;
}

@media screen and (max-width: 480px) {
    header .navbar {
        background-image: linear-gradient(to right, #2d2749 , #2f2850);
    }

}


.nav-item .nav-link{
    outline: none;
    font-weight: 600;
    font-family: "Popins", sans-serif, sans-serif;
    resize: none; }



.btn1 {
    border: 2px solid black;
    color: #52c3c0;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

.circle {
    margin-right: 5px;
    height: 10px;
    width: 10px;
    background-color: #52c3c0;
    border-radius: 50%;
  }


  .circle2 {
    margin-right: 5px;
    height: 10px;
    width: 10px;
    background-color: #0000 !important;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
  }

.c-space{
    margin-top: 8rem;
    justify-content: space-between !important;
}

@media screen and (max-width: 480px) {
    .c-space{
        margin-top: 3rem;
        justify-content: space-between !important;
        padding-bottom: 3rem;
    }

}

.playbtn{
    background-color: #0000 !important; 
    border: none;
}

.title{
    font-family: 'Playfair Display', serif;
}

#expertise h6{
    margin-top: 2rem;
}

#expertise p{
    padding:0 3rem 0;
    font-weight: lighter;
}

@media screen and (max-width: 480px) {
    #expertise p{
        padding:0 0;
        font-weight: lighter;
    }
}


#team{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(assets/teambg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }

#team h6{
    margin-top: 5px;
    margin-bottom: 0;
}

#works .size{
    width: -webkit-fill-available;
}

.card-body{
    border: 1px solid; border-color:grey;
}

#expertise .division{

    border-bottom: 1px solid  #EBEAEA;
}

.circle03{
    margin-right:10px;
    height: 4rem;
    width: 4rem;
    background-image: url(assets/circle3.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;  
}


.circle01{
    margin-right: 10px;
    margin-left: 2rem;
    height: 3rem;
    width: 3rem;
    background-image: url(assets/circle01.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; 
}
.circle02{
    margin-right: 10px;
    height: 3rem;
    width: 3rem;
    background-image: url(assets/circle02.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; 
}
.circle04{
    margin-right: 10px;
    height: 3rem;
    width: 3rem;
    background-image: url(assets/circle04.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; 
}
.circle05{
    margin-right: 2rem;
    height: 3rem;
    width: 3rem;
    background-image: url(assets/circle05.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%; 
}

 .btn1{
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
}

.form-control1{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}

.card1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}


